@using Clair.Common.RazorLib.Themes.Models;

@{
    var themeState = CommonService.GetThemeState();
    var appOptionsState = CommonService.GetAppOptionsState();

    var isActiveValid = CheckIsActiveValid(
        themeState,
        appOptionsState.Options.ThemeKey);
}
    
<select @onchange="OnThemeSelectChanged"
		class="ci_select ci_select-theme">

    <option value="@Guid.Empty.ToString()"
            selected="@isActiveValid">
        Select a Theme
    </option>
    
    @for (int i = 0; i < themeState.ThemeList.Count; i++)
    {
        var theme = themeState.ThemeList.u_Items[i];

        if (theme.IncludeScopeApp)
        {
            var isActiveSelection = CheckIsActiveSelection(
                theme.Key,
                appOptionsState.Options.ThemeKey);

            <option value="@theme.Key.ToString()"
                    selected="@isActiveSelection">
                @theme.DisplayName
            </option>
        }
    }
</select>
